.alertBox{
    background-color: #FEE2E2;
    color: #B91C1C;
    border-color: #F87171;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
